<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.sun.javafx.eclipse.core.launch.LaunchConfigurationDelegate">
<stringAttribute key="JavaFXLaunchAppletHeight" value=""/>
<stringAttribute key="JavaFXLaunchAppletWidth" value=""/>
<stringAttribute key="JavaFXLaunchMainClass" value="fxclient.FxClient"/>
<stringAttribute key="JavaFXLaunchProjectName" value="Makao"/>
<stringAttribute key="JavaFXLaunchTarget" value="desktop/jar"/>
<stringAttribute key="JavaFXLaunchVerbose" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Makao"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Makao"/>
</launchConfiguration>
